body{
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-image: url("./Assets/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
}